.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (max-width: 479px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.clients-list__item {
  margin: 15px;

  @media screen and (max-width: 767px) {
    width: calc(50% - 30px);
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 52px;

  border: 1px solid $social-link-color;
  border-radius: 4px;

  color: $social-link-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    padding: 16px 59px;
  }
  @media screen and (min-width: 1200px) {
    padding: 16px 31px;
  }
}
.clients-list__icon {
  fill: currentColor;
  // &:hover,
  // &:focus {
  //   border-color: $accent-color;
  //   color: $accent-color;
  //   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // }
}
