.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
  height: 100%;

  background-color: $backdrop-bgr-color;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 450px;

  background-color: $white-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 479px) {
    width: 95%;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $modal-button-border-color;
  border-radius: 50%;

  background-color: $white-text-color;
  cursor: pointer;
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accent-color;
  }
  .modal__button:focus-within & {
    fill: $accent-color;
  }
}
.modal-form {
  // width: 448px;
  // margin-right: auto;
  // margin-left: auto;
  padding: 40px;
}
.modal-form__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}
.modal-form__label {
  margin-bottom: 10px;
  position: relative;
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form__input {
  width: 100%;

  margin-top: 4px;
  padding: 11px 12px 11px 42px;

  border: 1px solid $input-border-color;
  border-radius: 4px;
  transition: otline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline-color: $accent-color;
    transition: otline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-form__icon {
  position: absolute;
  bottom: 0;
  left: 12px;
  transform: translateY(-55%);
  fill: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__label:focus-within & {
    fill: $accent-color;
  }
}
.modal-form__field {
  position: relative;
  margin-bottom: 20px;
}
.modal-form-label--indent {
  margin-bottom: 4px;
}
.modal-form__area {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $area-color;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  transition: otline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline-color: $accent-color;
    transition: otline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-form__check {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  // justify-content: center;
}
.modal-form__checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.modal-check__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid $secondary-text-color;
  border-radius: 1px;

  .modal-form__checkbox:checked + & {
    border-color: transparent;
    background-color: $accent-color;
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}
.modal-form__link {
  color: $accent-color;
  // margin-left: 4px;
}
.modal-form__button {
  display: block;
  // margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $white-text-color;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-hero-button;
  }
}
