.specifics {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.specifics__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.specifics__thumb {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $thumb-bgr-color;
}
.specifics__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.specifics__text {
  // width: 270px;
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
