.section--mobail {
  display: none;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.worck-list {
  display: flex;
  justify-content: space-between;
}
.worck-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.worck-list__text {
  position: absolute;
  right: 0;
  bottom: 0;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  width: 370px;
  height: 70px;
  color: $white-text-color;
  background: $worck-text-bgr-color;

  margin: 0;
  padding: 27px 0;
}
