$primary-text-color: #757575;
$secondary-text-color: #212121;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$secondary-bgr-color: #f5f4fa;
$fotter-color: #2f303a;
$accent-hero-button: #188ce8;
$address-contact-color: rgba(255, 255, 255, 0.6);
$header-border-color: #ececec;
$thumb-bgr-color: #f5f4fa;
$worck-text-bgr-color: rgba(47, 48, 58, 0.8);
$social-link-color: #afb1b8;
$footer-social-link-bgr-color: rgba(255, 255, 255, 0.1);
$footer-form-input-border-color: rgba(255, 255, 255, 0.3);
$backdrop-bgr-color: rgba(0, 0, 0, 0.2);
$modal-button-border-color: rgba(0, 0, 0, 0.1);
$input-border-color: rgba(33, 33, 33, 0.2);
$area-color: rgba(117, 117, 117, 0.5);
$meta-border-color: #eeeeee;
$overlay-bgr-color: rgba(33, 150, 243, 0.9);
